<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Gerador de QRCode</title>
</head>

<body>
    <div class="container">
        <div class="text-center">
            <img src="http://portal.unemat.br/imagens/logo-unemat-maldonado.png" class="img-fluid"
                alt="Imagem responsiva">
            <div>
                <h1>Criar Cartão de Visita</h1>
            </div>
        </div>
        <hr>
    </div>
    <form action="/scan" method="POST">
        <div class="container">
            <div class="form-group col-md-6">
                <label for="site">Informe a URL do site:</label>
                <input name="url" class="form-control" id="site_id" type="text"
                    placeholder="Insira o endereco do site para gerar o QRCode" required>
            </div>
            <div class="form-group col-md-6">
                <label for="nome">Nome Completo</label>
                <input name="nome" class="form-control" type="text" id="nome_id" placeholder="Insira o Nome Completo">
            </div>
            <div class="form-group col-md-6">
                <label for="funcao">Função</label>
                <input name="funcao" class="form-control" type="text" id="funcao_id" placeholder="Insira sua função">
            </div>
            <div class="form-group col-md-6">
                <label for="telefone">Telefone</label>
                <input name="telefone" class="form-control" type="text" id="telefone_id"
                    placeholder="Insira o telefone">
            </div>
            <div class="form-group col-md-6">
                <label for="email">E-mail</label>
                <input name="email" class="form-control" type="email" id="email_id" placeholder="Insira o E-mail">
            </div>
            <div class="form-group col-md-1">
                <label for="cep">Cep</label>
                <input name="cep" class="form-control" type="text" id="cep_id" placeholder="Buscar CEP">
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="logradouro">Logradouro</label>
                    <input name="logradouro" class="form-control" type="text" id="logradouro_id">
                </div>
                <div class="form-group col-md-6">
                    <label for="numero">Número</label>
                    <input name="numero" class="form-control" type="text" id="numero_id" placeholder="Insira o número">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="bairro">Bairro</label>
                    <input name="bairro" class="form-control" type="text" id="bairro_id">
                </div>
                <div class="form-group col-md-4">
                    <label for="localidade">Cidade</label>
                    <input name="localidade" class="form-control" type="text" id="localidade_id">
                </div>
                <div class="form-group col-md-2">
                    <label for="uf">UF</label>
                    <input name="uf" class="form-control" type="text" id="uf_id"><br><br>
                </div>
            </div>
            <div class="form-row">
                <div class="col">
                    <input type="submit" class="btn btn-success" value="Enviar">
                </div>
                <div class="col">
                    <input type="checkbox" name="agreement" id="agreement">
                    <label for="agreement" id="agreement-label"> Eu li e aceito os <a href="#"> termos de uso</label><br><br>
                </div>
            </div>
        </div>
    </form>

    <footer id="myFooter">
        <div class="text-center">
            <p class="footer-copyright">© 2021 Copyright - Sistemas de Informação</p>
        </div>
    </footer>

    <script>
        const cep = document.getElementById("cep_id");
        cep.addEventListener("blur", (e) => {
            let Cep = document.getElementById("cep_id").value;
            let saerch = cep.value.replace("-", "")
            console.log(saerch)
            fetch(`https://viacep.com.br/ws/${saerch}/json/`).then((response) => {
                response.json().then(data => {
                    console.log(data)                      
                    document.getElementById("logradouro_id").value = data.logradouro;                    
                    document.getElementById("bairro_id").value = data.bairro;
                    document.getElementById("localidade_id").value = data.localidade;
                    document.getElementById("uf_id").value = data.uf;
                    

                })
            })
        })
        function enviar() {
            let nome = document.getElementById("nome_id").value;
            let funcao = document.getElementById("funcao_id").value;
            let telefone = document.getElementById("telefone_id").value;
            let email = document.getElementById("email_id").value;
            let logradouro = document.getElementById("logradouro_id").value;
            let numero = document.getElementById("numero_id").value;
            let bairro = document.getElementById("bairr_id").value;
            let localidade = document.getElementById("localidade_id").value;
            let uf = document.getElementById("uf_id").value;
            let site = document.getElementById("site_id").value;

            let json = {
                "nome_id": nome,
                "funcao_id": funcao,
                "telefone_id": telefone,
                "email_id": email,
                "logradouro_id": logradouro,
                "numero_id": numero,
                "bairro_id": bairro,
                "localidade_id": localidade,
                "uf_id": uf,
                "site_id": site
            };
            fetch("/scan",
                {
                    headers: {
                        'Accept': 'application/json',
                        'Content-Type': 'application/json'
                    },
                    method: "POST",
                    body: JSON.stringify(json)
                })
                .then(function (res) { console.log(res) })
                .catch(function (res) { console.log(res) })
            console.log(json);
        };
    </script>
</body>

</html>