<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gerador de QRCode</title>
</head>
<body>
    <div>
        <h1>Criar Cartao de Visita</h1>
    </div>
    <hr>
    <form action="/scan" method="POST">
        <label for="site">Informe a URL do site:</label><br>
        <input name = "url" type = "text" required>
        <button type="submit" value="Gerar QR"> Gerar QR </button>
        <input type="checkbox" name="agreement" id="agreement">
        <label for="agreement" id="agreement-label"> Eu li e aceito os <a href="#"> termos de uso</label><br>
    </form> 
    
    <form action="">
        <label for="cep">Cep</label><br>
        <input type="text" id="cep"><br>
        <label for="logradouro">Logradouro</label><br>
        <input type="text" id="logradouro"><br>
        <label for="numero">Número</label><br>
        <input type="text" id="numero"><br>
        <label for="bairro">Bairro</label><br>
        <input type="text" id="bairro"><br>
        <label for="localidade">Cidade</label><br>
        <input type="text" id="localidade"><br>       
        <label for="uf">UF</label><br>
        <input type="text" id="uf"><br>

        <input type="button" onclick="enviar()" value="Enviar">

    </form>
    <script>
        const cep = document.getElementById("cep");
        cep.addEventListener("blur",(e) => {
            let Cep = document.getElementById("cep").value;
            let saerch = cep.value.replace("-", "")
            console.log(saerch)
            fetch(`https://viacep.com.br/ws/${saerch}/json/`).then((response) => {
                response.json().then(data =>{
                   console.log(data)
                   document.getElementById("logradouro").value = data.logradouro;
                   document.getElementById("numero").value = ("");
                   document.getElementById("bairro").value = data.bairro;
                   document.getElementById("localidade").value = data.localidade;                   
                   document.getElementById("uf").value = data.uf;

                })
            })
        })
        function enviar(){
            let logradouro = document.getElementById("logradouro").value;
            let numero = document.getElementById("numero").value;
            let bairro = document.getElementById("bairro").value;
            let localidade = document.getElementById("localidade").value;
            let uf = document.getElementById("uf").value;

            let json = {
                "logradouro" : logradouro,
                "numero" : numero,
                "bairro" : bairro, 
                "localidade" : localidade,                
                "uf" : uf
            };
            console.log(json);
        };
    </script>
</body>
</html>